<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
    <!--Criar link HTML e CSS-->
    <link rel="stylesheet" href="static/estilo.css">
    <!--Adicionar o icone (favicon) do site-->
    <link rel="shortcut icon" href="static/estilo.css">
</head>
<body class="cadastro">
    <div class="caixa-de-login">
        <h2> Cadastro</h2>   
        <p>Email</p>
        <!--Adiciona ENTRADA DE TEXTO-->
        <input type='text' name='usuario'>
        <p>Senha</p>
        <!--Adiciona ENTRADA DE SENHA-->
        <input type='password' name="senha">
        <p>Confirme a senha</p>
        <!--Adiciona ENTRADA DE SENHA-->
        <input type='password' name="senha">
        <br>
        <br>
        <a href="/inicio">Entrar</a>
    </div>

</body>
</html>