<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>esqueci a senha</title>
    <link rel="stylesheet" href="static/estilo.css"></head>

<body class="login">
        <div class="caixa-de-login">
            <h2> Esqueci a senha</h2>   
            <p>Email de recuperação</p>
            <!--Adiciona ENTRADA DE TEXTO-->
            <input type='text' name='usuario'>
            <p>Código</p>
            <input type='text' name='usuario'>
            <br>
            <br>
            <div class="botoes">
            <a href="/novaSenha">Continuar</a>
            </div>
        </div>
    
        
</body>
</html>