<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="static/estilo.css">

</head>

<body>
    
    <div class="comeco">
        <div class="opcoes">
            <div class="logo-nome">
                <div>
                    <img src="static/desenho.png">
                </div>
                <div>
                    <img src="static/nome.png">
                </div>   
            

            </div>
                <div class="usuario">
                    
                    <img src="static/usuario.jpg">
                    
                    <h1>Nick name</h1>
                    
                </div>
                <div class="opcoes-pag">
                    <a href="/perfil">Perfil</a>
                    <br>
                    <a href="/inicio">Inicio</a>
                    <br>
                    <a href="/buscar">Buscar</a>
                    <br>
                    <a href="/biblioteca">Biblioteca</a>
                </div>
                <div class="config">
                    <a href="/configuração">Configuração</a>
                    
                    <img src="static/detalhe 1.png">
                
                </div>

        </div>

        <div class="principal">

            <div class="pesquisa">
            <!--Adiciona ENTRADA DE TEXTO-->
            <input type='text' name='Encontar' placeholder="Encontrar">
            </div>
            <div class="pastas-inicio">
                <h2>Recentes</h2>
                <div class="playlisty">
                    
                </div>
            </div>





        </div>

        <div class="musicas">

        </div>

    </div>
</body>

</html>