<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nova senha</title>
    <link rel="stylesheet" href="static/estilo.css"></head>
</head>
<body class="login">
    <div class="caixa-de-login">
        <h2> Nova senha</h2>   
        <p>Nova senha</p>
        <!--Adiciona ENTRADA DE SENHA-->
        <input type='password' name="senha">
        <p>Confirmar senha</p>
        <input type='password' name="senha">
        <br>
        <br>
        <div class="botoes">
        <a href="/login">Finalizar</a>
        </div>
    </div>

    
</body>
</html>